<strong>Olá, {{ student }}</strong>
<p>Vimos que você possui uma dúvida. Segue abaixo a resposta:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data da pergunta: </strong> {{ question_date }} <br />
  <strong>Data da resposta: </strong> {{ answer_at }} <br />
  <br />
  A Gympoint está sempre à sua disposição!
</p>