<strong>Olá, {{ student }}</strong>
<p>Seja bem-vindo à Gympoint, segue abaixo os detalhes da sua matrícula:</p>
<p>
  <strong>Plano selecionado: </strong> {{ plan }} <br />
  <strong>Valor total do plano: </strong> R$ {{ price }} <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <br />
  Bora pro treino!
</p>